<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CV information</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/style_test.css' type="text/css" />
  <style>
    body {
      height: 1000px;
    }

    .main-form {
      width: 450px;
      margin: auto;
    }
  </style>
</head>

<body>


  <form action="/post_ques" method="post" class="main-form h-auto ">
    
    </div>

    <div class="row"><label for="" style="font-size: 20px;">Step1. Input the question type and question</label>
    </div>

    <div class="row">
      <div class="form-group">
        <select name="ques_type" class="form-control">
          <option value="SQL">SQL</option>
          <option value="Java">Java</option>
          
          <option value="C++">C++/C</option>
          <option value="C#">C#</option>
          <option value="JavaScript">JavaScript</option>
          <option value="Swift">Swift</option>
          <option value="Node JS">Node JS</option>
          <option value="PHP">PHP</option>
          <option value="HTML">HTML</option>
          <option value="R">R</option>
          <option value="MATLAB">MATLAB</option>
          <option value="Python">Python</option>
        </select>
    <div class="row">
        <div class="form-group">
          <label for="lastname">Question</label>
          <input type="text" name="question"  class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Next step</button>
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


</body>

</html>